body, html{
    height:100%;
    margin:0;
    font-family: 'Raleway', sans-serif;
    scroll-snap-type: y mandatory;
    
  }
.mobile_intro{
    position: absolute;
    top: 50%;
    transform: translate(0%, -70%);
    width: 89%;
    text-align: left;
    margin-left: 10%;
}
#name{
    font-weight:350;
    font-size: 130px;
    color: white;
}
.scrollbar{
    height:15px;
    position: absolute;
    bottom:100px;
    transform:translate(-50%,0%);
    left:50%;
}
.subtitle{
    color: #cdcdcd;
    font-size:75px;
}
.page{
    scroll-snap-align: start;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}
.mobile_main{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(44,83,100, 0.7), rgba(32,58,67, .9), rgba(15,32,39, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mobile_projects{
    height: 70vh;
}
.mobile_projects h1, .mobile_about h1{
    padding: 5% 0% 0 4.5%;
    margin:0px;
    margin-bottom: 20px;
    font-size:100px;
}
.project_card{
    margin-top:2%;
    margin-left:2%;
    height:90%;
    min-width: 75vw;
    scroll-snap-align: center;
    margin-right:2%;
    padding: 2%;
    -webkit-box-shadow: inset 0px 0px 6px 4px rgba(212,212,212,1);
    -moz-box-shadow: inset 0px 0px 6px 4px rgba(212,212,212,1);
    box-shadow: inset 0px 0px 6px 4px rgba(212,212,212,1);
}
.project_card h2{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size:60px;
    
}
.project_card h4{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size:45px;
}
.project_card p{
    font-size:35px;
}

.project_card button{
    
    font-size:40px;
}
.mobile_projects{
    display: flex;
    flex-direction: column;
}
.projects_container{
    width:90%;
    margin-left: 5%;
    flex-grow: 1;
    overflow-x: auto;
    overflow: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    scroll-snap-type: x mandatory;
}
/* Basically need to make this ^ fill rest of that things height, populate with projects and done. */