@media (prefers-color-scheme: light) {
    body {
    background: #ddd;
    color: #222;
    }
}
@media (prefers-color-scheme: dark) {
    body {
    background: #222;
    color: #ddd;
    }
}
.card {
    font-family: monospace;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card > h3{
    font-weight: normal;
    margin-top: -10px;
    margin-left: 15px;
}

.card > h2 > i{
    font-size: smaller;
}
